.loader-container{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.spinner{

    width:60px;
    height:60px;

    border:6px solid #ddd;

    border-top:6px solid maroon;

    border-radius:50%;

    animation:spin 1s linear infinite;

}

.loader-container p{

    margin-top:15px;

    font-size:18px;

    font-weight:600;

}

@keyframes spin{

    100%{
        transform:rotate(360deg);
    }

}